<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asrat19stanford.gymmin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".gymRatzz" />
        <activity
            android:name=".Workout"
            android:label="@string/title_activity_workout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".screenTwo" />
        <activity android:name=".miracle" />
        <activity
            android:name=".motiv"
            android:label="@string/title_activity_motiv"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".motiva" />
        <activity android:name=".connecta"></activity>
    </application>

</manifest>
